@charset /* Reset defaults (no need to edit)*/ "utf-8";html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;vertical-align:baseline}:focus{outline:0}ol,ul,li{list-style-type:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:400}
/* End Reset defaults (no need to edit above this line)*/

/*Import Custom Styles */

/**************************** Site Structure *****************************/

html {
	font-size: 100%;
        /*height: 100%;*/
}

@font-face {
	font-family: spinnaker;
	src: url('fonts/spinnaker.tff');
}

@font-face {
	font-family: spinnaker;
	font-weight: bold;
	src: url('fonts/spinnaker.tff');
}

@font-face {
	font-family: lobster;
	src: url('fonts/lobster.tff');
}

@font-face {
	font-family: lobster;
	font-weight: bold;
	src: url('fonts/lobster.tff');
}

body {	font-family:"fonts/spinnaker.tff", sans-serif;
	font-size: 18px;
	line-height: 1.6em;
	background: #ffffff;
        color: rgb(134, 108, 89);
        /*height: 100%;*/
}
 
.container {
	font-size: 1em;
	/*border-bottom: 1px solid #FFF;
        box-shadow: 0px -7px 7px -7px #999;*/
        
	/*width:960px;
        height: 415px;*/
	padding: 10px;
	margin: auto;
	position: relative;
	clear: both
}

header{
	font-family:"fonts/spinnaker.tff", sans-serif;
	font-size: 8px;
	height: 10%; /*53px;
	padding: 10px 3px;*/
	/*background: url(../img/nav_bg2.png) repeat-x;
	position: relative;*/
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	/*-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.6);*/
	/*box-shadow: 0px 1px 4px rgba(0,0,0,0.6);*/
}

.slide
{
    width: 100%;
    position: relative;
    padding: 50px 0;
    text-align: center;
}
.slidesmall
{
    width: 100%;
    position: relative;
    padding: 25px ;
    text-align: center;
}

#site_title {width: 960px; margin: auto; padding-top: 11px}

#site_title img {float: left}

#footer { font-size: .8em;
	  padding: 25px; 
	  clear: both; 
	  color: #000;
	  /*background: url(../img/footer_bg.png);*/
	  border-top: 1px solid #FFF;
	  box-shadow: inset 0 5px 5px #3b4147;

}

#slide2
{
    width: 100%;
    /*height: 100%;*/
    background-image:url('../img/fedi_rosa.jpg');
    background-color:#fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#slide3
{
    width: 100%;
    background-image:url('../img/torta_bianca.jpg');
    background-color:#fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#slide4
{
    width: 100%;
    background-image:url('../img/pesco_pagoda.jpg');
    background-color:#fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#slide5
{
    width: 100%;
    background-image:url('../img/automobili.jpg');
    background-color:#fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#slide6
{
    width: 100%;
    background-image:url('../img/mediceo.jpg');
    background-color:#fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#slide7
{
    width: 100%;
    background-image:url('../img/trucco.jpg');
    background-color:#fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
 
#slide8
{
   /* background-color:rgb(229,206,213);*/
    background-repeat: no-repeat;
    background-size: cover;
   /* background-attachment: fixed;*/
}

.no_display {display: none;}

h1, h2, h3, h4 { font-family: 'Open Sans Condensed', sans-serif}

h1 {font-size: 34px;  padding: .7em 0; color: #000 }

h2, h3 {margin: 0; font-weight: normal}

h2 {font-size: 2em;
    color: rgb(169, 208, 108);  
}

h3 {font-size: 2em;
    color: rgb(134, 108, 89);
    src: url('fonts/spinnaker.tff');
    font-family: 'spinnaker', sans-serif;
}

h4 {font-size: 1.2em; font-weight: 700}

#footer h3 {color: #888d92}


p {
	/*padding: 10px 0;
	font-size: 1em;*/
	/*padding: 0.5vw;*/
	font-size: 1.5vw;
}

small {font-family: Georgia, "Times New Roman", Times, serif; color: #999}

strong {font-weight: bold; font-size: 1.2em}

em {font-style: italic;}

a {color: #2997AB; text-decoration: none}

.float_left {
	float: left;
	background: #1A1A1A;
	height: 170px;
	width: 175px;
	border: 1px solid #CCC;
	box-shadow: 3px 3px 3px #e3e3e3;
	margin: 0px 0px 13px 13px;
	padding-top: 9px;
	text-align: center;
}

.center {margin: auto;}

#no_gallery_found {width: 798; padding: 50px; margin: auto; background: red; border: 10px solid white}


/* ei slider */


.ei-slider{
	position: relative;
	width: 100%
	max-height: 500px;
	height: 500px;
	margin: 0;
}

.ei-img{
	position: relative;
	width: 100%
	max-height: 200px;
	height: 200px;
	margin: 0 auto;
}

.ei-slider-large{
	height: 100%;
	width: 100%;
	position:relative;
	overflow: auto;
}
.ei-slider-large li{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: auto;
	height: 100%;
	width: 100%;
}
.ei-slider-large li img{
	width: 100%;
}

.ei-title-center{
		position: absolute;
		right: 0px;
		margin-right: 0px;
		width: 100%;
		text-align: center;
		top: 8px;
		/*bottom: 10px;
		background: #fff;
		background: rgba(255,255,255,0.9);*/
		padding: 5px 0;
}
.ei-title-center h2, .ei-title-center h3{
	text-align: center;
}
.ei-title-center h2{
	/*font-size: 40px;*/
	font-size: 5vw;
	line-height: 5.5vw;
	font-family: 'lobster', serif;
	font-style: bold;
	src: url('fonts/lobster.tff');
	/*color: #b5b5b5;*/
}

.ei-title-center p{
	font-size: 18px;
}

.ei-title-center h3{
	/*font-size: 45px;*/
	font-size: 5.5vw;
	/*line-height: 50px;*/
	line-height: 5vw;
	font-family: 'spinnaker', sans-serif;
	text-transform: uppercase;
        src: url('fonts/spinnaker.tff');
	/*color: #000;*/
}


.ei-title{
	position: absolute;
	/*right: 45%;*/
	margin-left: 2%;
	top: 70%;
}
.ei-title h2, .ei-title h3{
	text-align: left;
}
.ei-title h2{
	/*font-size: 50px;*/
	font-size: 4.5vw;
	/*line-height: 60px;*/
	font-family: 'lobster', serif;
	font-style: bold;
	src: url('fonts/lobster.tff');
	color: #b5b5b5;
}
.ei-title h3{
	/*font-size: 45px;*/
	font-size: 5vw;
	line-height: 50px;
	font-family: 'spinnaker', sans-serif;
	text-transform: uppercase;
        src: url('fonts/spinnaker.tff');
	color: #000;
}
.ei-slider-thumbs{
	height: 13px;
	margin: 0 auto;
	position: relative;
}
.ei-slider-thumbs li{
	position: relative;
	float: left;
	height: 100%;
}
.ei-slider-thumbs li.ei-slider-element{
	top: 0px;
	left: 0px;
	position: absolute;
	height: 100%;
	z-index: 10;
	text-indent: -9000px;
	background: #000;
	background: rgba(0,0,0,0.9);
}
.ei-slider-thumbs li a{
	display: block;
	text-indent: -9000px;
	background: #c7c7c7;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	-moz-box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	-webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.ei-slider-thumbs li a:hover{
	background-color: #f0f0f0;
}
.ei-slider-thumbs li img{
	position: absolute;
	bottom: 50px;
	opacity: 0;
	z-index: 999;
	max-width: 100%;
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
	-webkit-box-reflect: 
        below 0px -webkit-gradient(
            linear, 
            left top, 
            left bottom, 
            from(transparent), 
            color-stop(50%, transparent), 
            to(rgba(255,255,255,0.3))
            );
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ei-slider-thumbs li:hover img{
	opacity: 1;
	bottom: 13px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


.menu, .menu ol {
        margin: 0;
        padding: 0;
        list-style: none;
}

.menu:before,
.menu:after {
        content: "";
        display: table;
}

.menu:after {
        clear: both;
}


.menu
{
    position: fixed;
    top: 0px;
    width: 100%; 
    height: 60px; 
    background-color: #fff;
    z-index: 100;
}

.menu li {
        float: left;
        /*border-right: 1px solid #464d55;
        -moz-box-shadow: 1px 0 0 #262d33;
        -webkit-box-shadow: 1px 0 0 #262d33;
        box-shadow: 1px 0 0 #262d33;*/
        position: relative;
}

.menu a {
        float: left;
        /*padding: 25px;*/
        padding: 1.5vw;
        color: rgb(134, 108, 89);
        text-transform: uppercase;
        font-family:"spinnaker", Arial, sans-serif;
	font-size: /*19px*/1.4vw;
        text-decoration: none;
        text-shadow: none;
}

.menu li:hover > a {
        color: rgb(212, 203, 193);
}

.menu ol {
        margin: 2px 0 0 0;
        _margin: 0; /*IE6 only*/
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 42px;
        left: 0;
        z-index: 9999;
	/*border: 1px solid #525c67;*/
        background: #ffffff; /*url(../../img/dropmenu_bg.png) repeat;*/
        /*-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.5);
        box-shadow: 0 3px 10px rgba(0,0,0,.7);
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;*/
        transition: all .2s ease-in-out;
}

.menu li:hover > ol {
        opacity: 1;
        visibility: visible;
        margin: 0;
}

.menu ol ol {
        top: 0;
        left: 150px;
        margin: 0 0 0 20px;
        _margin: 0; /*IE6 only*/
        /*-moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
        -webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);*/
        box-shadow: -1px 0 0 rgba(255,255,255,.3);
}
#menu ol li {
        float: none;
        display: block;
        border: 0;
        _line-height: 0; /*IE6 only*/
        /*-moz-box-shadow: 0 1px 0 #262d33, 0 2px 0 #464d55;
        -webkit-box-shadow: 0 1px 0 #262d33, 0 2px 0 #464d55;*/
        box-shadow: 0 1px 0 #262d33, 0 2px 0 #ffffff;
}

.menu ol li:last-child {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
}

.menu ol a {
        padding: 10px;
        width: 180px;
        _height: 10px; /*IE6 only*/
        display: block;
        white-space: nowrap;
        float: none;
        text-transform: none;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: ;2.0vw;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}